/******************************************************************
 RESET CSS - Normalize
******************************************************************/
body, img, p, h1, h2, h3, h4, h5, fieldset { margin: 0; padding: 0; border: 0; resize: none; }
a, a:hover, a:visited, a:focus { text-decoration: none !important; }
input[type=submit] { cursor: pointer; }
*:focus { outline: none; }
::selection { background: #000; color: #fafafa; }
::-moz-selection { background: #000; color: #fafafa; }
._v-align { display: inline-block; vertical-align: middle; line-height: normal; }
.relative { position: relative; }
.unstyled { background: none; border: 0; box-shadow: none; list-style: none; margin: 0; padding: 0; line-height: normal; }


/******************************************************************
Geral Html
******************************************************************/
/* Buttons */
.btn { /* TODO */ }
    .btn.btn-primary { border-radius: 0; background-color: #FF9114; color: white; border: 1px solid #FF9114; transition: 0.3s; text-transform: uppercase; }
        .btn.btn-primary:hover { background-color: white !important; color: #FF9114; border: 1px solid #FF9114; transition: 0.3s; }

    .btn.btn-secondary { border-radius: 0; background-color: white; color: black; border: 1px solid black; transition: 0.3s; text-transform: uppercase; }
        .btn.btn-secondary:hover { background-color: black; color: white; border: 1px solid black; transition: 0.3s; }

.text-primary{color:#FF9114 !important;}
.bg-primary{color:#FF9114 !important;}

/* Headings */
body{font-family: 'Open Sans', sans-serif;}
body h1 { font-size: 48px; }
body h2 { font-size: 30px; text-transform: uppercase; }
body h3 { font-size: 22px; text-transform: uppercase; }
body h4 { font-size: 18px; text-transform: uppercase; }
body h5 { font-size: 17px; }
body h6 { font-size: 12px; color: #333333 }
body p { font-size: 16px; }



.size--s12{font-size:12px;}
.size--s14{font-size:14px;}

.custom-control{display:flex; justify-content:center;}

#Section_top figure { position: relative; bottom: -50px; }
#Section_top .avatar { width: 125px; height: 125px; margin: auto; overflow: hidden; border-radius: 50%; transform: scale(1.8);  margin-bottom:40px;}
#Details .informations{margin:100px 0;}

.btn-pushToTop{position:fixed; right:25px; bottom:15px;}